@charset "UTF-8";
@baseColor: #f40;

/**
 * 1. 设置默认字体为“无衬线”字体
 * 2. 阻止iOS下当屏幕方向改变时字体大小的改变
 */

html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 50px;
    height: 100%;
    background-color: #EEE;

    //消除被点击元素的外观变化，所谓的点击后高亮：
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    //阻止旋转屏幕时自动调整字体大小：
    -webkit-text-size-adjust:none;
    //解决字体在移动端比例缩小后出现锯齿的问题：
    -webkit-font-smoothing: antialiased;
    //盒子阴影：
    -webkit-box-shadow: none;
    //圆角
    -webkit-border-radius: 0;
    //appearance 属性使元素看上去像标准的用户界面元素，
    //也可以取消默认的样式：
    -webkit-appearance: none;
    //鼠标可以悬停在内容上（指向该内容）而不激活它（单击它）：
    -webkit-touch-action: manipulation; 
}

/**
 * 重置body的margin样式
 */

body {
    margin: 0;
    font-size: 0.28rem;
}

/*
 * 消除图片与父容器底部间的空隙，参考： http://jsfiddle.net/gZQRJ/165/
 */

img {
    vertical-align: middle;
}

/* 阻止长按菜单 */

a, img {
    -webkit-touch-callout: none;
}


.main{}
.module{}

/*首页头部搜索*/
.top-fixed{
	height: 1rem;
	line-height: 1rem;
    width: 100%;
    background-color: @baseColor;

    display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
    display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */


    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;

    padding-right: 0.25rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;

    .logo{
        display: block;
        width: 1.2rem;
        height: 1rem;
        text-align: center;

        -webkit-background-size: 100%;
        background-size: 100%;

        background-repeat: no-repeat;

        img{
            width: 0.7rem;
        }

    }
    input{
        -moz-box-flex:1;
        -webkit-box-flex:1;
        box-flex:1;
        flex: 1;
        width: 6rem;


        height: 0.6rem;
        line-height: 0.6rem;
        border: 0;
        outline: none;
        color: #fff;
        background-color: rgb(232, 81, 42);

        -webkit-border-radius: 0.11rem;
        -moz-border-radius: 0.11rem;
        border-radius: 0.11rem;
    }

}

/*首页banner*/
.top_banner{
    width: 100%;

    img{
        width: 100%;
    }
}

/*首页mean列表*/
.menu_list{
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:box;
    display: -webkit-box; 
    display: -moz-box; 
    display: -webkit-flex; 
    display: flex;



    width: 100%;
    height: 3rem;
    padding: 0.2rem 0;
    background-color: #fff;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    -o-flex-flow: wrap;
    flex-flow: wrap;

    .menu_item{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width: 25%;
        height: 1rem;
        padding-top: 0.25rem;
        background-repeat: no-repeat;
        background-position: center;

        -webkit-background-size: 50%;
        background-size: 50%;

    }
}

/*首页中间广告*/
.ad{
    width: 100%;
    height: 4.3rem;
    clear: both;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;

    background-color: #fff;
    margin-top: 0.15rem;

    .ad_left{
        -webkit-flex: 0.4;
        flex:0.4;

        height: 4.3rem;
        border-right: 1px solid #eee;

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;

        background-repeat: no-repeat;
        background-image: url(http://gw.alicdn.com/tps/i3/TB1ScelIXXXXXcKXpXXm_8E_XXX-450-540.jpg_q50.jpg?imgtag=avatar);

        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .ad_right{
        flex: 0.6;

        .ad_right_top{
            height: 2rem;
            width: 100%;
            border-bottom:  1px solid #eee;
            background-repeat: no-repeat;
            background-image: url(http://gw.alicdn.com/tps/i2/TB1FmJxHpXXXXX7XpXX.l5FJpXX-675-216.jpg_q50.jpg);

            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;

            
        }

        .ad_right_botton{
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: flex;
            div{
                height: 2.3rem;

                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;

                flex:0.5;
                background-repeat: no-repeat;

                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
            }
        }

    }
}

    /*特色市场*/
.ts{
    width: 100%;
    margin-top: 0.12rem;
    background-color: #fff;

    .title{
        width: 100%;
        height: 0.65rem;
        line-height: 0.65rem;
        display: flex;
        border-bottom: 1px solid #eee;

        .context{
            height: 100%;
            width: 100%;
            font-size: 0.32rem;
        }
        .context::before{
            display: block;
            height: 0.65rem;
            line-height: 0.65rem;
            float: left;
            border-left: #ff4400 solid 4px;
            content: "特色市场";
            padding-left: 5px;
            margin-right: 5px;
        }
        .context:after{
            float: right;
            font-size: 0.24rem;
            line-height: 0.65rem;
            content: "更多";
            padding-right: 5px;
        }
    }
    .title:after{
        float: right;
        display: block;
        width: 15px;
        height: auto;
        line-height: auto;
        content: "";
        background-image: url(http://gw.alicdn.com/tps/i4/TB1k3OHGVXXXXaTXVXXIqztGVXX-45-45.png);
        background-position: center center;
        margin-right: 10px;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .ts_links{

    }
}