.home_menu{
  position: fixed;
  width: 1.2rem;
  height: 1.2rem;
  bottom: 1.5rem;
  left: 0.3rem;


  z-index: 1000;

  .menu_mask{
    display: none;

  }

  .menu_centent{
    width: 3.92rem;
    height: 3.92rem;
    position: absolute;
    top: -3.5rem;
    left: 0.48rem;
    background: transparent;
    z-index: 1010;

    .circle{
      width: 3.92rem;
      height: 3.92rem;
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      background: url(//assets.alicdn.com/mw/base/styles/component/taoplus/images/sprite1.png) no-repeat;
      background-position: 0 0;

      -webkit-background-size: 3.9rem;
      background-size: 3.9rem;
    }
  }

  .circle .more{
    width: 1.5rem;
    height: 1.3rem;
    position: absolute;
    right: 0.4rem;
    bottom: 0.16rem;

    a{
      display: block;
      width: 0.7rem;
      height: 0.4rem;
      background-color: transparent;
      margin-top: 0.35rem;
      margin-left: 0.4rem;
      z-index: 1030;

    }

    span{
      width: 1.4rem;
      height: 1.22rem;
      display: none;
      position: absolute;
      top: 0;
      z-index: 1020;
      pointer-events: none;

      background-image: url(http://assets.alicdn.com/mw/base/styles/component/taoplus/images/sprite2.png);
      -webkit-background-size: 3.9rem;
      background-size: 3.9rem;
      background-position: 0 0;
    }
  }

  .menu_btn{
    position: absolute;
    width: 0.96rem;
    height: 0.96rem;

    ul{
      list-style: none;
      padding: 0;
      padding-top: 0.15rem;
      padding-left: 0.05rem;
      margin: 0;
      width: 0.96rem;
      height: 0.96rem;

      background: url(//assets.alicdn.com/mw/base/styles/component/taoplus/images/sprite1.png) no-repeat;
      background-position: 0 -4rem;

      -webkit-background-size: 3.9rem;
      background-size: 3.9rem;

      li{
        width: 0.71rem;
        height: 0.71rem;
        margin: 0 auto;

        background: url(//assets.alicdn.com/mw/base/styles/component/taoplus/images/sprite1.png) no-repeat;
        background-position: -2.2rem -4.02rem;

        -webkit-background-size: 3.9rem;
        background-size: 3.9rem;


      }
    }
  }
}